{% extends 'caosNewsApp/base.html' %}
{% load static %}

{% block content %}
  <title>Internacional</title>

  <div class="content">
    <h1 class="titulosNoticias">INTERNACIONAL</h1>
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">
        <!-- Primera tarjeta -->
        <div class="col mb-3">
          <div class="card">
            <img src="https://www.cooperativa.cl/noticias/site/artic/20240406/imag/foto_0000000120240406215211.jpg" class="card-img-top" alt="inter_1" />
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <!-- Segunda tarjeta -->
        <div class="col mb-3">
          <div class="card">
            <img src="https://www.cooperativa.cl/noticias/site/artic/20240406/imag/foto_0000000120240406201216.jpg" class="card-img-top" alt="inter_2" />
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <!-- Tercera tarjeta -->
        <div class="col mb-3">
          <div class="card">
            <img src="https://www.cooperativa.cl/noticias/site/artic/20240403/imag/foto_0000000120240403203216.jpg" class="card-img-top" alt="inter_3" />
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <!-- Cuarta tarjeta -->
        <div class="col mb-3">
          <div class="card">
            <img src="https://www.cooperativa.cl/noticias/site/artic/20240406/imag/foto_0000000120240406101016.jpg" class="card-img-top" alt="inter_4" />
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <!-- Quinta tarjeta -->
        <div class="col mb-3">
          <div class="card">
            <img src="https://www.cooperativa.cl/noticias/site/artic/20240407/imag/foto_0000000120240407141455.png" class="card-img-top" alt="inter_5" />
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <!-- Sexta tarjeta -->
        <div class="col mb-3">
          <div class="card">
            <img src="https://www.cooperativa.cl/noticias/site/artic/20240407/imag/foto_0000000420240407094858.jpg" class="card-img-top" alt="inter_6" />
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
