{% extends 'caosNewsApp/base.html' %}

{% block content %}
<div class="container mt-5">
    <a href="{% url 'noticias_add' %}" class="btn btn-success mb-3">Agregar Noticia</a>
    <h2>{{title}}</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Fecha</th>
                <th>Ubicación</th>
                <th>Categoría</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for noticia in noticias %}
            <tr>
                <td>{{ noticia.id_noticia }}</td>
                <td>{{ noticia.titulo }}</td>
                <td>{{ noticia.fecha|date:"Y-m-d" }}</td>
                <td>{{ noticia.ubicacion }}</td>
                <td>{{ noticia.categoria.categoria }}</td>
                <td>
                    <a href="{% url 'noticias_edit' noticia.id_noticia %}" class="btn btn-primary">Editar</a>
                    {% if request.user.is_staff %}
                        <a href="{% url 'revision_noticias' noticia.id_noticia %}" class="btn btn-info">Revisar</a>
                        <form action="{% url 'noticias_eliminar' noticia.id_noticia %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro de querer eliminar esta noticia?');">Eliminar</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No hay noticias registradas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}