{% extends 'caosNewsApp/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Editar Usuario</h2>
    <form action="{% url 'user_edit' user.id %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">{{ form.username.label }}</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label for="first_name">{{ form.first_name.label }}</label>
            {{ form.first_name }}
        </div>
        <div class="form-group">
            <label for="last_name">{{ form.last_name.label }}</label>
            {{ form.last_name }}
        </div>
        <div class="form-group">
            <label for="email">{{ form.email.label }}</label>
            {{ form.email }}
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
        <a href="{% url 'user_list' %}" class="btn btn-secondary">Volver</a>
    </form>
</div>
{% endblock %}
